<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kk.lanluyu.projecthelper.index.DumpIndexCodeMapper">

    <select id="queryIndexCodes" resultType="string">
        select tt.index_code  from (select index_code from mb_df_metadata_0002 where FRAME_ID in (
        select FRAME_ID from mb_df_metadata_0001 where
        frame_id_path like #{frameIdPath} AND IS_DELETE ='1' and is_show=1)
        group by index_code) tt
        inner join mb_index_main_info mm on tt.index_code = mm.index_code and mm.update_status = '更新中'
    </select>
</mapper>
