<!DOCTYPE html>

<html style="height: 100%; margin: 0">

  <head>
    <title>Project Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body style="height: 100%; width: 100%; margin: 0;">
    <div class="index-left" style="min-height: 100%; width: 200px;
    background-color: darkcyan; display: flex;float: left">
      left
    </div>
    <div class="index-right" style="height: 100%; width: calc(100% - 200px);
    float: left; background-color: blueviolet;">

      <div class="index-right-top" style="height: 100px; width: 100%;background-color: aqua;">
        right-top
      </div>
      <div class="index-right-bottom" style="height: calc(100% - 140px); width: calc(100% - 100px);;
      background-color: deeppink; margin: 20px;">
          <div class="bottom-text" style="margin: 10px; height: 60%; width:50%;float: left;
          background-color: blanchedalmond"></div>
          <div class="bottom-introduce" style="margin: 10px; height: 60%; width:30%;float: left;
          background-color: firebrick"></div>
          <div class="bottom-console" style="margin: 10px; height: 30%; width: 50%;float: left;
          background-color: firebrick"></div>
          <div class="bottom-other" style="margin: 10px; height: 30%; width:30%;float: left;
          background-color: firebrick"></div>
      </div>
    </div>
  </body>
  
</html>